@page {
  size: A4;
  margin: 50px;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: white;
  /* padding-top: 1.5em; */
  font-size: 12px;
  color: black;
  margin: 0;
  padding: 0;
}

/* .content-cat {
  width: 32%;
} */

.paper {
  width: 100%;
  border: 0;
  padding-top: 0;
}

.header-content {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.sidebar-content {
  margin-bottom: 0;
  margin-left: 0;
}

.main-content {
  margin-right: 0;
  margin-bottom: 0;
}

.content {
  page-break-inside: avoid;
  page-break-after: auto;
}

.content:last-child {
  padding-bottom: 0;
}

.note {
  display: none;
}

.resume-wrapper {
  page-break-after: avoid;
  margin-bottom: 0;
  padding-bottom: 0;
}

section:last-child {
  page-break-inside: avoid;
  page-break-after: avoid;
  margin-bottom: 0;
  padding-bottom: 0;
}